.copy-btn {
  width: 30px;
  height: 30px;
  border: none;
  color: #3A9AA3;
  transition: scale 2s ease;
}

.copy-btn:hover {
  transform: scale(1.3);
  cursor: pointer;
}

@media screen and (max-width: 550px){
  .copy-btn {
    width: 25px;
    height: 25px;
  }
}