.animals-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.animals-list__item {
  margin: 0 0 48px 0;
  padding: 0;
}

.animals-list__item:last-of-type {
  margin: 0;
}

.animals-list__link {
  margin: 0;
  padding: 0;
  color: #78ABA9;
  font-weight: bold;
  font-size: 48px;
  text-decoration: none;
}

.animals-list__item:hover {
  transform: scale(1.2);
  transition: scale 1s ease-in;
}

.animals-list__link:hover {
  color: #3A9AA3;
  transition: color 0.5s ease-in-out;
}

@media screen and (max-width: 550px){
  .animals-list__item {
    margin: 0 0 32px 0;
  }

  .animals-list__link {
    font-size: 38px;
  }

}