.copied-popup {
  background: -webkit-linear-gradient(#78ABA9, #ED706F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 550px){
  .copied-popup {
    font-size: 20px;
  }
}
